server:
  port: 9010

spring:
  application:
    name: spring-boot-security
  datasource:
    url: jdbc:postgresql://localhost:5432/database_test
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    user:
      name: user
      password: pass